<h1> Opciones básicas </h1>
<%= link_to 'Entrar a configuracion de usuarios', usuarios_path %> |
<%= link_to 'Publicar nuevo post', new_post_path %>

<h1> Vesindo</h1>
<h2> Post del día </h2>
<% @posts.each do |post| %>

<p> Titulo:  <%= post.titulo %> </p>
<p> Usuario: <%= post.usuario.nombre %>
<p> Mensaje: <%= post.mensaje %> </p>

<%= link_to 'Ver post', post_path(post) %>

<% end %>