<h1> Nuevo Post </h1>

<%= form_for :post, url: posts_path do |f| %>

	<p>
	<%= f.label :titulo %>
	<%= f.text_field :titulo %>
	</p>
	<p>
	<%= f.label :mensaje %>
	<%= f.text_field :mensaje %>
	</p>
	<p>
	<%= f.label :usuario_id %>
	<%= f.number_field :usuario_id %>
	</p>
	<%= f.submit %>


<% end %>

<h1> Lista de usuarios </h1>

<% @usuarios.each do |usuario| %>

	<p> Nombre: <%= usuario.nombre %> </p>
	<p> Direccion: <%= usuario.direccion %> </p>
	<p> Id: <%= usuario.id %> </p>

<% end %>