<h1> Nuevo Post </h1>

<%= form_for :post, url: posts_path do |f| %>

	<p>
	<%= f.label :titulo %>
	<%= f.text_field :titulo %>
	</p>
	<p>
	<%= f.label :mensaje %>
	<%= f.text_field :mensaje %>
	</p>
	<p>
	<%= f.label :usuario_id %>
	<%= collection_select(:post, :usuario_id, @usuarios, :id, :nombre) %>
	</p>
	<%= f.submit %>


<% end %>
